For this assignment, you will be required to explore and cluster the neighborhoods in Toronto.

Start by creating a new Notebook for this assignment.
Use the Notebook to build the code to scrape the following Wikipedia page, https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M, in order to obtain the data that is in the table of postal codes and to transform the data into a pandas dataframe like the one shown below:

## *Pandas* and Numpy

The first thing we'll do is import two key data analysis modules: **pandas** and **numpy**.

In [4]:
import numpy as np
import pandas as pd

Now we read the html into tables variable

In [5]:
tables = pd.read_html('https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M')

We know that our table is the first one in the Html file:

In [6]:
table = tables[0]
table.head()

  Postal code           Borough                Neighborhood
0         M1A      Not assigned                         NaN
1         M2A      Not assigned                         NaN
2         M3A        North York                   Parkwoods
3         M4A        North York            Victoria Village
4         M5A  Downtown Toronto  Regent Park / Harbourfront

Only process the cells that have an assigned borough. Ignore cells with a borough that is Not assigned.
Therefore we define our condition:

In [7]:
condition = table['Borough'] != 'Not assigned'
df = table[condition]
df.head()

  Postal code           Borough                                  Neighborhood
2         M3A        North York                                     Parkwoods
3         M4A        North York                              Victoria Village
4         M5A  Downtown Toronto                    Regent Park / Harbourfront
5         M6A        North York             Lawrence Manor / Lawrence Heights
6         M7A  Downtown Toronto  Queen's Park / Ontario Provincial Government

If a cell has a borough but a Not assigned neighborhood, then the neighborhood will be the same as the borough.
First let's check if we have a value 'Not assigned' for the column <B>Neighborhood</B>

In [8]:
test = df['Neighborhood']=='Not assigned'
exist = True in test
exist

False

There are no Neighborhoods with the value 'Not assigned'

Let's check now the shape of our dataframe:

In [9]:
df.shape

(103, 3)